.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.navFooter{
    position: fixed;
    bottom: 15px;
}

.modal.modal-wide .modal-dialog {
  width: 75%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.modal.modal-wideP .modal-dialog {
  width: 50%;
}
.modal-wideP .modal-body {
  overflow-y: auto;
}

.table{
    font-size: 11px;
}
.table tbody{
    font-weight: bold;
}
.number {
	text-align:right;
}

#mainContainer{
    padding-top: 10px;
}

thead tr{
        background-color: #f5f5f5;
}